.provider-nav-link {
  color: #000;
  font-weight: 500;
  position: relative;
  padding-bottom: 4px;
}

.provider-nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #5c3e98;
  transition: width 0.3s ease;
}

.provider-nav-link:hover::after {
  width: 100%;
}

.provider-nav-link:hover {
  color: #5c3e98;
}
